@charset "UTF-8";

body{
  /*background-color: #000000;*/
  background-image: url(../img/fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Calibri','Tahoma','Arial';
  font-size: 16px;
  line-height: 22px;
}

.container h1{
  color: #ffffff;
  font-size:4em;
}

.container{
  width: 1200px;
  margin: 0px auto 0px auto 0px;
}

.drone{
  background-color: #ffffff;
  text-align: justify;
  border: 1px solid #cccccc;
  margin: 0px 0px 20px 0px;
  padding: 20px;
}

.drone h2{
  margin: 0px;
  border-style: dashed;
  border-color: #7E9F19;
  border-width: 0px 0px 1px 0px;
}

.drone a{
  text-decoration: none;
  color: #2C88A7;
  font-weight: 900;
}

.p1{
  text-align: right;
}
.p2{
  text-align: right;
  border-style: dashed;
  border-color: #7E9F19;
  border-width: 0px 0px 1px 0px;
}
