body{
  background-image:url("../img/fundo.jpg");
  font-family: "Calibri",Tahoma, Arial;
  font-size: 16px;
  line-height: 22px;
}

h1{
  color: #FFFFFF;
  font-size: 50px;
}

.container{
  width: 1200px;
  margin: 0px auto 0px auto;
}

.drone{
  background: #FFFFFF;
  text-align: justify;
  border:1px solid #CCCCCC;
  margin-bottom:20px;
  padding: 20px;
}


.drone h2{
  margin:0px;
  border-style: dashed;
  border-width: 0px 0px 1px 0px;
  border-color: #7E9F19;

}

#link{
  color: #2C88A7;
  font-weight: 900;
  text-decoration: none;
  text-align: right;
}

#link:hover{
  color: #DC143C;
}

.drone img{
  width: 120px;
  height: 150px;
  border: 1px;
  border-style: solid;
  border-color: #7E9F19;
  margin: 10px 10px 0px 0px;
  padding: 2px;
  float: left;
}

.final{
  font-weight: 12px;
  color: #FFFFFF;
  text-align: center;
}
